* {
  margin: 0;
  padding: 0; }

html {
  box-sizing: border-box;
  scroll-behavior: smooth; }
  html body {
    font-family: "Nunito", sans-serif; }

img.logo {
  width: 80px;
  padding-bottom: 10px; }

img.logo-lag {
  width: 40px; }

h1.logo-header {
  font-family: "Raleway", sans-serif;
  margin-top: -35px;
  margin-left: 140px;
  color: #520F83;
  font-size: 16px; }

span.break {
  color: #F3200F; }

h1.track-list {
  color: #0FA0F3;
  font-size: 16px; }

span.backend {
  color: #C856E6; }

span.python {
  color: #000000; }

span.android {
  color: #9CDE80; }

span.ui {
  color: #F04635; }

span.design {
  color: #E09252; }

.header-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1300px;
  margin: auto;
  justify-content: space-between; }

.track-list {
  margin-top: 10px; }

nav {
  padding: 5px 0 15px; }

.whole {
  padding-top: 60px;
  padding-bottom: 50px;
  background: url("back.png");
  background-repeat: no-repeat;
  background-size: cover; }

h1.whole-header {
  -webkit-text-shadow: 2px 2px 2px rgba(231, 166, 36, 0.75);
  -moz-text-shadow: 2px 2px 2px rgba(231, 166, 36, 0.75);
  text-shadow: 4px 4px 2px rgba(231, 166, 36, 0.75);
  color: #55295F;
  font-size: 5rem;
  line-height: 1;
  margin-left: 140px;
  font-weight: 900;
  letter-spacing: 2px; }

.lorem-container {
  background: #55295F;
  color: #fff;
  width: 280px;
  padding: 30px 40px 30px 200px;
  border-radius: 0 20px 20px 0;
  margin-top: 40px; }

p.dummy {
  font-weight: 500;
  font-size: 14px; }

.card {
  background: #fff;
  border-radius: 5px;
  width: 300px;
  height: 450px;
  padding: 30px 20px; }

.icon {
  color: #55295F;
  transform: scaleX(-1); }

.whole {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

input {
  border: none;
  font-family: inherit;
  width: 230px;
  padding-left: 20px; }
  input:focus {
    outline: none; }

select.select {
  font-family: inherit;
  -moz-appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  border: none;
  width: 250px;
  padding-left: 20px;
  color: #979088; }
  select.select:focus {
    outline: none; }

.group {
  width: 90%;
  margin: auto;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 15px; }

h1.join {
  margin-bottom: 20px; }

.gbefun {
  background: #55295F;
  color: #fff;
  font-family: inherit;
  padding: 10px 30px;
  border-radius: 30px;
  width: 100%;
  font-size: 20px;
  cursor: pointer; }

.button {
  width: 50%;
  margin: auto; }

p.already {
  font-weight: 600;
  text-align: center;
  margin-top: 10px; }
  p.already a {
    color: inherit;
    text-decoration: none; }
    p.already a:hover {
      text-decoration: underline; }

p.godzilla,
p.beamer {
  display: inline-block; }

img.o {
  width: 30px;
  margin-bottom: -10px;
  margin-right: 30px; }

.frontend-div,
.backend-div,
.python-div,
.android-div,
.ui-div,
.design-div {
  padding: 25px 20px;
  color: #fff;
  border-radius: 20px 0 0 20px;
  margin-top: 10px; }

.frontend-div {
  background: #0FA0F3; }

.backend-div {
  background: #C856E6; }

.python-div {
  background: #000000; }

.android-div {
  background: #9CDE80; }

.ui-div {
  background: #F04635; }

.design-div {
  background: #E09252; }

p.beamer {
  color: #000000; }

.login-flex {
  display: block; }

.login {
  padding-top: 60px;
  padding-bottom: 50px;
  background: url("back.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 500px; }

.card.card-login {
  margin-left: 150px;
  height: 350px; }

p.already.wa {
  line-height: 3; }

.my-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  max-width: 1300px;
  margin: auto; }

.details {
  display: flex;
  width: 40%; }

.image {
  width: 30px;
  height: 30px;
  padding: 10px;
  border: 2px solid #55295F;
  border-radius: 50%;
  margin-right: 10px; }

img.myface {
  width: 100%; }

p.boss {
  font-weight: 600;
  font-size: 14px;
  margin-top: 5px; }

p.my-track {
  font-size: 8px; }

.track {
  padding: 5px;
  text-align: center;
  background: #0FA0F3;
  color: #fff;
  border-radius: 20px;
  margin-top: 5px; }

a.links {
  width: 24px; }

.home,
.inactive {
  width: 100%;
  margin-top: 20px; }

img.choose {
  width: 100%; }

.space {
  width: 60%; }

.home {
  border-bottom: 5px solid #55295F;
  padding-bottom: 5px; }

img.medal {
  width: 25px;
  height: 25px; }

.help {
  width: 24px;
  height: 24px; }

.points {
  display: flex;
  margin-top: 20px; }

.position {
  display: flex;
  margin-top: 20px; }

img.help {
  margin-top: 20px; }

.day {
  background: #55295F;
  color: #fff;
  padding: 2px;
  border-radius: 5px;
  text-align: center;
  height: 24px;
  width: 24px;
  display: grid;
  place-items: center; }

.day-text {
  font-size: 8px;
  font-weight: 600; }

p.my-points {
  font-weight: 600;
  font-size: 12px;
  margin-top: 5px;
  margin-left: 20px; }

a.links.jo {
  margin-right: 120px; }

.hold-on {
  background: #0FA0F3;
  height: 1000px; }

h1.whole-header.smoke {
  float: right;
  margin-top: 700px;
  opacity: 0.5; }

.shit {
  width: 100%;
  margin: auto;
  position: absolute;
  margin-top: -950px; }

.box-flex {
  width: 100%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative; }

.boxes {
  overflow: hidden;
  background: #D4BA8F;
  width: 200px;
  height: 190px;
  border-radius: 15px;
  margin-bottom: 30px; }

h1.whole-header.thirty {
  margin: 0;
  font-size: 28px;
  letter-spacing: 0;
  text-shadow: none;
  margin-left: -8px;
  margin-top: 30px; }

h1.chaii {
  color: #0FA0F3;
  font-size: 50px;
  line-height: 0.8;
  margin-left: 80px;
  margin-top: 30px; }

p.no {
  color: #fff;
  font-size: 14px;
  text-align: center;
  margin-top: -180px;
  font-weight: 600; }

p.grade {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  margin-top: 110px;
  margin-left: 10px; }

.lead-under {
  width: 100%;
  max-width: 1300px;
  margin: auto; }

a.jasi {
  color: #fff; }

.leaderboard {
  background: #55295F;
  padding: 50px 0;
  height: 1150px;
  overflow: hidden; }

img.leader-img {
  width: 30px;
  margin-left: 15px;
  margin-bottom: -10px; }

h1.leaderboard-header {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
  margin-left: 15px; }

img.arrow {
  margin-bottom: -10px; }

select.umlilo {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  border: none;
  background: transparent;
  color: #fff;
  font-family: inherit;
  margin-left: 25px; }
  select.umlilo:focus {
    outline: none; }
  select.umlilo option {
    color: #55295F; }

.dropdownLink, .dropdownLink2 {
  display: none; }

img.drop {
  width: 24px;
  margin-bottom: -8px;
  margin-left: -25px; }

h1.whole-header.mind {
  font-size: 7rem;
  opacity: 0.4;
  margin-left: 900px;
  margin-bottom: -1200px; }

.person-position {
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  text-align: center;
  display: grid;
  place-items: center;
  margin-left: 75px;
  margin-bottom: 5px; }

.lead-under {
  margin-top: 950px; }

.imagefine {
  overflow: hidden;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-top: -30px; }

img.avatar {
  transform: rotate(355deg); }

.person {
  color: #fff;
  width: 400px;
  background: #0FA0F3;
  height: 45px;
  border-radius: 50px;
  padding: 0 10px; }

.blues,
.jazz {
  display: inline-block; }

.jazz {
  float: right;
  margin-top: 15px;
  margin-right: 20px; }

.blues {
  margin-top: 15px;
  margin-left: 10px;
  position: absolute; }

.blow {
  margin-bottom: 30px; }

.jaguar {
  margin-top: 10px; }

.person.phil {
  background: #E09252; }

.person.petra {
  background: #333; }

.you {
  color: #fff;
  text-align: center;
  font-weight: 400;
  margin-top: 20px;
  font-size: 24px; }

.brother {
  color: #fff;
  width: 450px;
  background: #0FA0F3;
  height: 40px;
  border-radius: 50px;
  padding: 0 30px;
  margin-top: 30px;
  margin-left: 200px; }

.small-img-container {
  overflow: hidden;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
  margin-top: -10px;
  margin-left: 30px; }

img.small-img {
  width: 100%;
  transform: rotate(355deg); }

p.codeine {
  float: right;
  margin-top: 10px;
  margin-left: -20px; }

p.bruh {
  display: inline-block;
  margin-top: 10px;
  margin-left: 20px;
  position: absolute; }

p.toosie {
  margin-top: 10px;
  position: absolute; }

.brother.bismillah {
  background: #E09252; }

.leaderbooard-flex {
  display: flex;
  flex-wrap: wrap; }

.brother.purple {
  background: #C856E6; }

.brother.black {
  background: #333333; }

.brother.red {
  background: #F04635; }

.dashboard {
  background: #D6E8EB; }

.white-card {
  background: #fff;
  width: 300px;
  border-radius: 5px;
  padding: 20px 10px; }

h1.today {
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 20px; }

p.lorem-oro {
  font-size: 15px;
  line-height: 1.5; }

img.japa {
  width: 18px; }

.plus,
.one {
  display: inline-block;
  font-size: 15px; }

.oshe {
  float: right; }

.stuff {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  padding: 5px 0;
  margin: 10px 0; }

p.transparent {
  color: #D6E8EB;
  font-size: 14px; }

.dashboard-flex {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

p.answer {
  font-weight: 500; }

input.type {
  width: 250px;
  border: 0.5px solid #333;
  border-radius: 5px;
  font-family: inherit;
  padding: 5px 10px; }
  input.type:focus {
    outline: none; }

.shepe-container {
  text-align: center;
  margin-top: 10px; }

button.shepe {
  font-family: inherit;
  border: transparent;
  border-radius: 20px;
  padding: 10px 50px;
  cursor: pointer;
  background: #55295F;
  color: #fff;
  margin: auto; }

.col-2 {
  width: 700px;
  background: #fff;
  padding-top: 20px;
  margin-bottom: 50px; }

.whole-header.smoke {
  display: none; }

.brown {
  font-size: 14px;
  background: #F1EFEF;
  padding: 10px 20px; }

.white {
  font-size: 14px;
  background: #fff;
  padding: 10px 20px; }

a.wa {
  color: #E09252;
  text-decoration: none;
  font-weight: 700;
  margin-top: 60px; }
  a.wa:hover {
    text-decoration: underline; }

p.here {
  float: right; }

p.ramadan {
  display: inline-block;
  margin-left: 30px;
  line-height: 1.5; }

p.fuck {
  display: inline-block; }

@media (max-width: 768px) {
  h1.whole-header,
  .lorem-container {
    display: none; }

  .card {
    margin: auto; }

  nav {
    background: #D6E8EB; }

  h1.track-list {
    font-size: 14px; }

  .tracks {
    margin: auto; }

  h1.logo-header {
    margin: 0;
    text-align: center; }

  .logo-part {
    margin: auto; }

  .frontend-div,
  .backend-div,
  .python-div,
  .android-div,
  .ui-div,
  .design-div {
    border-radius: 30px; }

  .dreamer {
    margin: auto; }

  h1.all {
    font-size: 20px;
    text-align: center;
    margin-top: 30px; }

  .card.card-login {
    margin: auto;
    margin-top: 0; }

  .box-flex {
    justify-content: space-around; }

  p.no {
    margin: 0;
    margin-top: -100px; }

  .hold-on {
    background: #fff; }

  .my-flex .details,
  .my-flex a.links,
  .my-flex .points,
  .my-flex .position,
  .my-flex a.help-link {
    display: none; }

  .my-flex .dropdownLink {
    display: block;
    position: absolute;
    top: 140px;
    left: 20px; }

  .my-flex.responsive .dropdownLink {
    top: 10px;
    left: 120px; }

  .my-flex.responsive {
    flex-direction: column;
    width: 100px;
    -webkit-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 1px 12px 0px rgba(0, 0, 0, 0.75);
    background: #fff;
    height: 600px;
    margin-top: 50px;
    position: absolute;
    z-index: 1;
    padding: 30px 0;
    padding-left: 20px; }

  .my-flex.responsive .details,
  .my-flex.responsive a.links,
  .my-flex.responsive .points,
  .my-flex.responsive .position,
  .my-flex.responsive a.help-link {
    display: block; }

  .my-flex.responsive .details .track {
    width: 100%; }

  .my-flex.responsive .points p.my-points,
  .my-flex.responsive .position p.my-points {
    margin: 0; }

  .dashboard-flex {
    justify-content: space-around; }

  .col-1 {
    margin-top: 40px; }

  .col-2 {
    width: 90%;
    margin-top: 50px; }

  p.fuck,
  p.here {
    display: block; }

  p.ramadan {
    display: none; }

  p.here {
    float: none; }

  h1.whole-header.mind {
    display: none; }

  .lead-under {
    margin-top: 30px; }

  .others {
    width: 90%;
    margin: auto; }

  .leaderboard {
    padding: 20px 0;
    height: 1350px; }

  .brother {
    width: 80%;
    margin: auto;
    margin-top: 30px; }

  .blow {
    margin-left: 30px; }

  .person {
    width: 80%;
    margin: auto; }

  h1.you,
  .jaguar.gbese {
    display: none; }

  .first {
    width: 100%;
    margin-bottom: 80px; } }

/*# sourceMappingURL=app.css.map */
